

body {
    background-image: url("https://wallpapersmug.com/download/2560x1440/3c7f3d/digital-art-city-cityscape.jpg");
}

.content {
    background: white;
    display: block;
    text-align: center;
    font-size: 20px;
    float: center;
    margin: 0 auto;
    width: 50%;
}